<h2>Welcome to Gansin's web game of blackjack!</h2>

<h3>Enter your name player</h3>
<form action="/new_player" method="post">
<input type="text" name="player_name"/>
<br/>
<input type="submit" class="btn"  />
</form>